html, body {
  height: 100%;
  /* min-height: 100vh; */
  /* background-color: #282c34; */
}

.Home {
  overflow-x: none;
    background-color: hsl(220, 13%, 18%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App {
  overflow-x: none;
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.App-link {
  color: #61dafb;
}

.input:valid {
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.input:invalid {
    box-shadow: 0px 0px 6px rgb(255, 0, 72);
}


.shadow {
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.auto {
      border: none;
      padding: 6px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.15s;
      cursor: pointer;
      border-radius: 7px;
      box-shadow: 0 6px #656565;
}


.autoButton {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.autoButton:active {
  background-color: #008CBA;
  color: white;
  box-shadow: 0 4px #656565;
  transform: translateY(3px);
}

.submit {
    background: linear-gradient(121deg, rgb(3, 202, 139) 0%, rgba(0, 199, 101, 1) 100%);
}

.cancel {
  background: linear-gradient(121deg, rgb(202, 3, 3) 0%, rgb(199, 0, 66) 100%);
}

.primary {
  background: linear-gradient(121deg, #1da2e5 0%, rgb(27, 188, 185) 100%);
}

.secondary {
  background: linear-gradient(90deg, rgba(109, 65, 238, 1) 0%, rgba(154, 79, 255, 1) 100%);
}

.profile {
    background: linear-gradient(231deg, rgb(0, 91, 171) 0%, rgb(0, 170, 167) 100%);
    border-radius: 15px;}

.alertBackground {
    background: linear-gradient(231deg, rgb(255, 80, 80) 0%, rgb(255, 70, 160) 100%);
}

.greyGradient {
background: linear-gradient(121deg, rgba(57, 57, 57, 1) 45%, rgba(57, 57, 57, 1) 100%);
}

.logoBackground {
  background: linear-gradient(40deg, rgb(20, 121, 203) 45%, rgb(21, 168, 158) 100%);
}

.pointer {
  cursor: pointer;
}

.skyhue {
  background: linear-gradient(200deg, #cc8e23, #d138b5);
  background-size: 400% 400%;

  -webkit-animation: SkyHueAnimation 30s ease infinite;
  -moz-animation: SkyHueAnimation 30s ease infinite;
  animation: SkyHueAnimation 30s ease infinite;
}

@-webkit-keyframes SkyHueAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes SkyHueAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes SkyHueAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}


/* The container */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(238, 238, 238, 0.258);
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: rgba(204, 204, 204, 0.616);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
      background: linear-gradient(121deg, rgba(9, 144, 255, 1) 45%, rgba(207, 0, 255, 1) 100%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9.5px;
  top: 4.5px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footerBackground {
  /* background: linear-gradient(270deg, #008bd9, #2c40df); */
  /* background: linear-gradient(270deg, #008bd9, #016ec1); */
  background: linear-gradient(270deg, #3c24c7, #0066b4);
  /* background: linear-gradient(270deg, #0093a3, #017bc1); */
  /* background: linear-gradient(270deg, #0036d9, #016ec1); */
  /* background-size: 400% 400%; */

  /* -webkit-animation: FooterBackground 15s ease infinite;
  -moz-animation: FooterBackground 15s ease infinite;
  animation: FooterBackground 15s ease infinite; */
    /* -webkit-animation: FooterBackground 20s ease infinite;
      -moz-animation: FooterBackground 20s ease infinite;
      animation: FooterBackground 20s ease infinite; */
}

@-webkit-keyframes FooterBackground {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes FooterBackground {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes FooterBackground {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}