@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Gloock&family=Heebo&family=Hind:wght@500&family=IBM+Plex+Sans&family=Inter:wght@500&family=Manrope&family=Poppins:wght@500&family=Questrial&display=swap');

p {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'DM Sans', sans-serif;
}

li {
    font-family: "Heebo", sans-serif;
}

.updates {
    font-family: "Manrope", sans-serif
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.inter {
    font-family: 'Inter', sans-serif;
}

.ibm {
    font-family: 'IBM Plex Sans', sans-serif;
}

.hind {
    font-family: 'Hind', sans-serif;
}

.questrial {
    font-family: 'Questrial', sans-serif;
}

