:root {
    --modal_background: white;
}

[data-theme='dark'] {
    --modal_background: #282c43;
}

.presentation-card {
    background-color: rgb(0, 0, 0);
    opacity: 0;
}

.presentation-card:hover {
    opacity: 0.5;
}

.presentation-modal {
    height: 300px;
    background-color: var(--modal_background);
}

.metadata-text {
    font-weight: lighter;
    font-size: 13px;
}